.App {
  text-align: center;
  background: #fdef96;
  padding: 0.1px;
  height: 100vh;
  margin: 0;
}

.friends-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #fdef96;
}

.friends-card {
  color: #2b580c;
  background: #fff;
  border-radius: 2px;
  max-height: 200px;
  margin: 1rem auto;
  padding: 0.1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form {
  display: flex;
  width: 400px;
  margin: 16px auto;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 1rem 0.1rem;
  flex-flow: column;
}

form > input {
  border: 0;
  padding: 12px 16px;
  margin: 8px;
  font-size: 1rem;
  width: 240px;
  border-radius: 0;
  outline: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}


button {
  background-color: #f7b71d;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  width: 100px;
  margin: 5px;
}

.home-button {
  color:white;
  text-decoration: none;
}

.activeButton {
  color: #fff;
  background-color: #afa939;
  padding: 0 10px;
  border-radius: 4px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  border: 1px solid #2b580c;
  font-weight: bold;
  margin-top: 0;
}
.navbar > li {
  margin: 15px;
  text-decoration: none;
}